*{
    margin 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial;
}
/*Navbar container*/
.navbar{
    background-color: #333;
    width: 100px;
}
/*Horizonatl links*/
.nav-links{
    list-style: none;
    display: grid;
    justify-content:center;

}
.nav-links li{
    /*top & bottom margin 0 left & right 15px & gaps btwn items;*/
    margin: 40px;
}
.nav-links a{
    display: block;
    padding: 14px;
    text-decoration: none;
    color: #fff;
    transition: background 0.3s;
}
.nav-links a:hover{
    background-color: #555;
}